/*body {
  margin: 100px 0px;
}*/

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  

}
#container > div {
  width: 100%;
  height: 280px;
   background-color: rgb(253, 251, 251); 
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#container2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  background-color: rgb(253, 251, 251); 
}
#container2 > div {
  width: 100%;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}
#b5-img {
  margin: 65px 95px 25px;
}
h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(107, 109, 107);
}

h2 {
  font-size: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(95, 93, 93);
  text-decoration: none;
  /* padding-left: 50px; */
}
#box > div > ul > a {
  /*border: 2px solid red;*/
  /*margin: 20px;*/
  line-height: 30px;
}
h1 {
  font-size: 26px;
  color: rgb(66, 65, 65);
  font-weight: 600;
}
#b1-img {
  margin-left: 15px;
}
/* --------------b2----------------- */
#box2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

#box2 > div {
  width: 100%;
  border: 1px solid rgb(179, 176, 176);
  border-radius: 10px;
  background-color: rgb(253, 251, 251); 
}

/* -------------------b3------------------------------ */

#box3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;

}

#box3 > div {
  width: 100%;
  border: 1px solid rgb(179, 176, 176);
  border-radius: 10px;
  background-color: rgb(253, 251, 251); 
}

/* ------------------b4------------------- */
#box4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

#box4 > div {
  width: 100%;
  border: 1px solid rgb(179, 176, 176);
  border-radius: 10px;
  background-color: rgb(253, 251, 251); 
}

/* ------------------------------------------ */

#box5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

#box5 > div {
  width: 100%;
  border: 1px solid rgb(179, 176, 176);
  border-radius: 10px;
  background-color: rgb(253, 251, 251); 
}
p {
  text-align: center;
  /*color: rgb(83, 83, 83);*/
}
.txt {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(110, 106, 106);
  font-weight: 400;
}
.txt1 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(58, 57, 57);
  font-weight: 400;
}
.txt2 {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(75, 74, 74);
  font-weight: 400;
}
#today {
  margin: 40px 10px;
  line-height: 25px;
}

#b-img {
  /* margin:10px 40px; */
  padding: 10px 0px 0px 50px;
}
.para1 {
  color: rgb(95, 91, 91);
  font-weight: 600;
}
.para2 {
  color: rgb(121, 116, 116);
  font-style: italic;
}
.para3 {
  font-size: 18px;
  color: rgb(149, 199, 126);
  font-weight: 600;
}
.para4 {
  color: rgb(107, 104, 104);
  font-weight: 600;
  text-decoration-line: line-through;
}
.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  height: 40px;
  background-color: #416a59;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  margin: 10px 25px;
  font-weight: 600;
  color: whitesmoke;
}
.btn:hover {
  background-color: rgb(8, 102, 105);
  font-size: 17px;
}
#popular-para {
  font-size: 22px;
  font-weight: 500;
}
#main-margin {
  margin: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link {
  /*color: red;*/
  background-color: transparent;
  text-decoration: none;
}

.nav {
  width: 89.5%;
  background-color: rgb(50, 174, 177);
  display: flex;
  padding: 35px 80px;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#payment-offer-section > h3,
#previes-order-section > h3,
#trend-section > h3 {
  margin-left: 30px;
}
/* Default css end */

/* 1st nav css start */

.nav1 {
  /*border: 2px solid red;*/
  width: 20%;
}
.nav2 {
  /*border: 2px solid red;*/
  width: 50%;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
}
.nav3 {
  width: 30%;
  color: #fff;
  justify-content: space-around;
}
.nav3 > p > i {
  font-weight: bold;
  margin: 10px 10px;
  font-size: 20px;
}
.nav2 > select {
  width: 20%;
  height: 50px;
  border: 0px;
  border-radius: 10px;
}
.nav2 > input {
  width: 75%;
  height: 50px;
  border: 0px;
}



     
  
      
      
#main-box{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#containerG   {
    /* border: 1px solid red; */
          display: flex;
         justify-content: space-evenly;
         margin-top: 20px;
         /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
      }
      #containerG .h1,.p{
          color: #24aeb1;
      }

      #box {
          display: flex;
          justify-content: space-evenly;
          /* border: 1px solid red; */
      }
      
      a{
          color: black;
         text-decoration: none;
      }
     div > li{
        justify-content: center;
      }
      .input{
        border: 0px;
        margin: 5px;
        margin-top: 10px;
      
      }
      
     div > .img{
       width: 100%;
        
        
      }
      .und{
        margin-top: 150px;
      }
      #link{
        display: flex;
        justify-content: space-evenly;
      }
    .box4{
      width: 20%;
    }
    .box4 >.img{
      width: 40%;
    }
    .img{
      margin-top: 20px;
     width: 100px;
     /* border: 1px solid red; */
    }